# Xcode
*.xcuserdata/
*.xcworkspace/
build/
DerivedData/
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride

# SwiftPM
.build/
Packages/
Package.pins
Package.resolved

# SPM
.swiftpm/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Misc
*.moved-aside
*.hmap
*.ipa
*.xcarchive
